.wrapper {
	position: relative;
	height: 90vh;
	overflow-y: auto;
	padding: 0px 10px;
}

.pagginationContainer {
	margin-top: 40px;
	padding: 10px 0px;
	display: flex;
	justify-content: center;

	.paggination {
		cursor: pointer;
		padding: 0px 10px;
		color: rgb(185, 173, 173);
	}	
}

.currentPage {
	font-weight: bold;
	color: rgb(255, 255, 255) !important;
}