@import './../../utils/variables';

.header {
	width: 100%;
	padding: 0px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgb(22, 22, 22);
	border-bottom: 1px solid $secondary-color;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	box-sizing: border-box;

	grid-area: header;
}

.logoImage {
	width: 60px;
}

.login {
	display: flex;
	align-items: center;
	color: rgb(229, 216, 216);
	gap: 8px;
	
	.userPhoto {
		width: 30px;
		border-radius: 50%;
	}
}
.toLogin {
	color: rgb(229, 216, 216);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.logOut {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background: none;
	border: none;
	margin-left: 8px;

	img {
		width: 30px;
	}

	&:hover {
		background-color: rgb(74, 74, 74);
	}
}