@import './../../variables';

.header {
	width: 100%;
	padding: 0px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgb(22, 22, 22);
	border-bottom: 1px solid $border-color;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	box-sizing: border-box;

	grid-area: header;
}

.logoImage {
	width: 60px;
}

.login {
	display: flex;
	align-items: center;
	color: rgb(229, 216, 216);
	gap: 4px;
	
	.userPhoto {
		width: 30px;
		border-radius: 50%;
	}
	.toLogin {
		color: rgb(229, 216, 216);
		text-decoration: none;
	}
}